@use 'animations' as *;
@use 'variables' as *;

$mobile-width: 500px;
$tablet-width: 1024px;

@mixin tablet {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin flexStandard {
  display: flex;
  align-items: center;
}

@mixin flexCenterCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexSpaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

@mixin flexColumnCenter {
  @include flexColumn;
  align-items: center;
}

@mixin basicGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 40px;
  align-items: start;
  justify-items: center;
  @include mobile {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 20px;
  }
}

@mixin fade($time: 200ms) {
  animation: fadeIn $time ease-in;
}

@mixin boxShaddow($opacity: -0.8) {
  box-shadow: 0 1px 1px adjust-color($retroBlack, $alpha: $opacity),
    0 2px 2px adjust-color($retroBlack, $alpha: $opacity),
    0 4px 4px adjust-color($retroBlack, $alpha: $opacity),
    0 8px 8px adjust-color($retroBlack, $alpha: $opacity);
}

@mixin errorBorder {
  border: 2px solid $errorRed;
  &:focus-visible {
    outline: $errorRed solid 2px;
    outline-offset: -2px;
  }
}

@mixin inputBorder {
  border: 2px solid $retroBlack;
  border-radius: 5px;
  transition: box-shadow 100ms ease-out;
  &:focus-visible {
    @include boxShaddow(-0.95);
    outline: $blue-green solid 2px;
    outline-offset: -2px;
  }
}
@mixin genericInput {
  display: block;
  margin-bottom: 1em;
  width: 100%;
  max-width: 500px;
  height: 40px;
  padding: 0 8px;
}
@mixin label {
    margin-bottom: .5em;
    padding-left: 4px;
    font-size: 14px;
    font-weight: 500;
}
