@use '../../styles/' as *;

.nt-select {
  @include genericInput;
  @include inputBorder;
  text-transform: capitalize;
  appearance: none;
  background: url('../../assets/chevron-down.svg') no-repeat;
  background-position: 98% 50%;
  color: black;
  &--empty {
    color: gray;
  }
  &--error {
    @include errorBorder;
  }
}

.nt-select-container {
  @include flexColumn;
  label {
    @include label;
  }
}
