@use '../../styles/' as *;

.neat-treats-button {
  color: $cultured;
  font-weight: 400;
  background-color: $blue-green;
  border: 1px solid $cultured;
  padding: 10px 30px;
  border-radius: 40px;
  letter-spacing: 1px;
  transition: all 300ms ease-out;

  &:focus-visible {
    outline: $dark-cornflower-blue solid 2px;
    outline-offset: 1px;
  }
  &:hover {
    transition: all 250ms ease-in;
    transform: translateY(-0.5px);
    @include boxShaddow(-0.9);
  }
}