@use '../../styles/' as *;

.neat-treats-button {
  color: #fff;
  font-weight: 400;
  background-color: $blue-green;
  border: 1px solid $retroBlack;
  padding: 4px 12px;
  margin: 0.1rem;
  border-radius: 40px;
  transition: all 300ms ease-out;

  &:focus-visible {
    outline: $dark-cornflower-blue solid 2px;
    outline-offset: 1px;
  }
  &:hover {
    transition: all 250ms ease-out;
    transform: translateY(-0.5px);
    @include boxShaddow(-0.9);
  }
}
